  <%= will_paginate @campaigns %>
  
  <% @campaigns.each do |campaign| %>
  <% @total_given = campaign.user.funders.sum(:amount) %>

  <% if campaign.user.funders.any? %>
    <% @fundining_percentage = (@total_given/campaign.request)*100 %>
  <% end %>

        <ul class="thumbnails">
          <li class="campaign_item">
            <div class="thumbnail">
                  <h1><%= link_to campaign.group_name, campaign %></h1>
                  <% if campaign.vimeo_link.present? %>
                    <iframe src="http://player.vimeo.com/video/<%= campaign.vimeo_video_id %>" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                  <% elsif campaign.youtube_link.present? %>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= campaign.youtube_video_id %>" frameborder="0" allowfullscreen></iframe>
                  <% else %>  
                    <%= image_tag campaign.image.url(:medium) %>
                  <% end %>

                <h3><%= campaign.one_sentence%></h3><br>

  <%= progress_bar(@fundining_percentage, :color => 'blue', :rounded => true) %><br>
  <h3><i>$<%= number_with_precision(@total_given, :precision => 2, :delimiter => ',') %> raised of $<%= number_with_precision(campaign.request, :precision => 2, :delimiter => ',') %> goal</i></h3>
  <% if campaign.user.funders.any? %>
    <h1><%= number_with_precision(@fundining_percentage, :precision => 2, :delimiter => ',') %>% funded </h1>
  <% else %>
    <h1>unfunded </h1>
  <% end %>

  <% if campaign.end_date.present? %>
    <h1><%= distance_of_time_in_words_to_now(campaign.end_date)   %> left </h1>
  <% else %>
    <h1> inactive </h1>
  <% end %>

  <h3><%= campaign.category %></h3>


    <% if campaign.active? && current_user == campaign.user %>
      <%= link_to "Deactivate Campaign", deactivate_url, class: "btn btn-large btn-danger", :data => 
              { :confirm => "Are You Sure You Want to Deactivate this Campaign?"  } %><br>
    <% end %>

    <% if campaign.active? == false && current_user == campaign.user && campaign.user.wepay_account_id.present?  %>
        <%= link_to "Activate Campaign", activate_url, class: "btn btn-large btn-primary", :data => 
            { :confirm => "Are You Sure You Want to Activate this Campaign?"  } %><br>
    <% end %>

    <% if campaign.active? == false && current_user == campaign.user && campaign.user.wepay_account_id.present? == false  %>
        <%= link_to "Setup WePay Before Activating", campaign.user, class: "btn btn-success-primary" %><br><br>
    <% end %>

    <% if campaign.active? && current_user != campaign.user %>
      <%= link_to "View Campaign", campaign, class: "btn btn-large btn-primary" , target: "_blank" %><br>
    <% end %>
              </div>
           </li>
        </ul>
    <% end %>
