<% javascript "pagination" %>

<div id = "intro" class = "slide">
<h1>Up&Away.coop</h1>
<h3><i>Presentation for Potential Worker-Owners</i></h3>

<%= link_to "Start Presentation", '#1', class: "btn btn-medium btn-success" %><br><br>





</div>

<div id = "1" class = "slide">
	<br><br>
	<h1>The Basics:</h1>
	<h4><br>

		<ul>
			<li> 
			Up&Away is a website developed to help progressive organizations find the funding they need to be successful.  
			</li><br>

			<li> 
			The website itself will be ran as a worker-owned cooperative.
			</li><br>

			<li> 
			All fundraising campaigns must be ran by a democratic workspace, non-profit, or sponsored by one of the above and fall within one or more of the following categories: 
			</li><br>
				<ol>

			<li> 
			Education
			</li><br>

			<li> 
			Local Food
			</li><br>

			<li> 
			Manual Labor, Domestic Services, & Manufacturing
			</li><br>

			<li> 
			Community Programs + Grassroots Campaigns 
			</li><br>

			<li> 
			Sustainability
			</li><br>

			<li> 
			Web & Tech
			</li><br>

			<li> 
			Media, Culture & Arts
			</li><br>

			<li> 
			Business Services
			</li><br>

			<li> 
			Cooperative Housing
			</li><br>

			<li> 
			Health Care & Self-Care
			</li><br>
		</ol>

			

		</ul>
</h4>
	<%= link_to "Next Page", '#2', class: "btn btn-medium btn-primary" %><br><br>
</div>


<div id = "2" class = "slide">
	<br><br>
	<h1>Strategy Overview</h1>
	<h4><br>

		<ul>

			<li> 
			We will have active crowdfunding campaigns on our site, taking a percentage of each camapign's earnings (5%-10%). 
			</li><br>

			<li> 
			We will network with local artist and small businesess to provide high quality incentive offers for funders
			</li><br>

			<li> 
			We will work with local video artist to provide high quality video spots for each campaign.
			</li><br>
		</ul>
</h4>
	<%= link_to "Previous Page", '#1', class: "btn btn-medium btn-success" %><br><br>
	<%= link_to "Next Page", '#3', class: "btn btn-medium btn-primary" %><br>
</div>

<div id = "3" class = "slide">
	<br><br>
	<h1>Strategy (cont.)</h1>
	<h4><br>
		We Will:<br><br>
		<ul>
			<li> 
			Only work with established institutions to start.
			</li><br>

			<li> 
			Work closely with campaigns to assist them in whatever ways they need.
			</li><br>

			<li> 
			Find big partner funders to match what we take in crowd-funding when possible.
			</li><br>

			<li> 
			Use traditional media, internet, and in person organizing strategies to expand brand and capture new campaigns and funding opportunities.
			</li><br>
		</ul>
</h4>
	<%= link_to "Previous Page", '#2', class: "btn btn-medium btn-success" %><br><br>
	<%= link_to "Next Page", '#4', class: "btn btn-medium btn-primary" %><br>
</div>

<div id = "4" class = "slide">
	<br><br>
	<h1>Strategy (cont.)</h1>
	<h4><br>
Ideally down the road: <br><br>
		<ul>
			<li> 
			We will continue develop our website to make it better for users.
			</li><br>

			<li> 
			Take on supporting start-ups with marketing, start-up capital, and business strategy.
			</li><br>

			<li> 
			Expand to other cities and localities.
			</li><br>

		</ul>
</h4>
	<%= link_to "Previous Page", '#3', class: "btn btn-medium btn-success" %><br><br>
	<%= link_to "Next Page", '#5', class: "btn btn-medium btn-primary" %><br>
</div>

<div id = "5" class = "slide">
	<br><br>
	<h1>Founding Members</h1>
	<h4><br>
		<ol>
			<li> 
			Webmaster
			</li><br>

			<li> 
			Graphic Designer
			</li><br>

			<li> 
			Fundraising Lead
			</li><br>

			<li> 
			Community Development Lead
			</li><br>

			<li> 
			Admin
			</li><br>
		</ol>

		Notes:<br><br>
		<ul>
			<li> 
			Before launching, all positions are Unpaid and Part-time (20 hrs a week max, another part time job is recommended)
			</li><br>

			<li> 
			As soon as revenue comes in, members will split an equal share of the profits (everything after overhead, taxes, and charitable contributions) tied directly to the number of hours that put in.  (ie, if one coop memeber works half time, and another full time, the first would make half as much as the second.)
			</li><br>

			<li> 
			Salaries will be capped at a decided upon limit.
			</li><br>
		</ul>
</h4>
	<%= link_to "Previous Page", '#4', class: "btn btn-medium btn-success" %><br><br>
	<%= link_to "Next Page", '#6', class: "btn btn-medium btn-primary" %><br>
</div>



<div id = "6" class = "slide">
	<br><br>
	<h1>Position Specifics:</h1><br>
	<h3>1. Webmaster</h3>
		<h4>
		<ul>
			<li> 
			Develop website
			</li><br>
			<li> 
			Technical support
			</li><br>

			<li> 
			Support the cooperative in other functions as needed
			</li><br>

		</ul><br>
		</h4>
	<h3>2. Graphic Designer</h3>
	<h4>
		<ul>
			<li> 
			Design artwork and layout for website 
			</li><br>

			<li> 
			Design artwork for promotional materials
			</li><br>

			<li> 
			Support the cooperative in other functions as needed
			</li><br>
		</ul>
</h4>
	<%= link_to "Previous Page", '#5', class: "btn btn-medium btn-success" %><br><br>
	<%= link_to "Next Page", '#7', class: "btn btn-medium btn-primary" %><br>
</div>

<div id = "7" class = "slide">
	<br><br>
	<h1>Position Breakdowns (cont.)</h1><br>
	<h3>3. Fundraising Lead</h3>
		<h4>
		<ul>
			<li> 
			Develop outreach list, execute outreach, and maintain relationships with large donors.
			</li><br>

			<li> 
			Coordinate online (newsletter + social media) and in person outreach opportunities to past and potential donors.
			</li><br>

			<li> 
			Answer request for interviews from the media.
			</li><br><br>

		</ul>
		</h4>
	<h3>4. Community Development</h3>
	<h4>
		<ul>
			<li> 
			Develop outreach list, execute outreach, and maintain relationships with local artist, local biz, and potential campaigns.
			</li><br>

			<li> 
			Support organizations in developing campaign pages suitable for our site, connecting them with the local artist and small biz for give-aways.
			</li><br>

			<li> 
			Answer request for interviews from the media.
			</li><br><br>
		</ul>
</h4>
<h3>5. Admin </h3>
	<h4>
		<ul>
			<li> 
			Legal, Accounting, & Business Administration 
			</li><br>

			<li> 
			Support Fundraising & Community Development as needed
			</li><br>

		</ul>
</h4>
	<%= link_to "Previous Page", '#6', class: "btn btn-medium btn-success" %><br><br>
	<%= link_to "Next Page", '#8', class: "btn btn-medium btn-primary" %><br>
</div>

<div id = "8" class = "slide">
	<br><br>
	<h1>Cooperative Dynamics:</h1>
	<h4><br>

		<ul>
			<li> 
			All founding worker-owners will own equal share holdings of the cooperative.
			</li><br>

			<li> 
			Each would have an equal vote in consensus decison making processes
			</li><br>

			<li> 
			Each founding member will also equally share all start-up cost <br>($500 total, $100 per member, all numbers are approx)
				<ul>
					<li>Web-Hosting ($72 for the first year)</li>
					<li>Outreach Materials ($300)</li>
					<li>Cost of Incorporation ($100)</li>
				</ul>
			</li><br>
		</ul>
</h4>
	<%= link_to "Previous Page", '#7', class: "btn btn-medium btn-success" %><br><br>
	<%= link_to "Next Page", '#10', class: "btn btn-medium btn-primary" %><br>
</div>


<div id = "10" class = "slide">
	<br><br>
	<h1>Cooperative Dynamics (cont.)</h1>
	<h4><br>
While final group rules will be decided by the founding members, in general I would hope that this cooperative would be:<br><br>
		<ul>
			<li> 
			A fun place to work
			</li><br>

			<li> 
			A safe place to work
			</li><br>
			<li> 
			A place where we try our best to uphold non-opressive ideals with a sense of humor and understanding!
			</li><br>
		</ul>
</h4>
	<%= link_to "Previous Page", '#8', class: "btn btn-medium btn-success" %><br><br>
	<%= link_to "Next Page", '#11', class: "btn btn-medium btn-primary" %><br>
</div>


<div id = "11" class = "slide">
	<br><br>
	<h1>Timeline Overview</h1>
	<h4><br>
		<ol>
			<li> 
			Founding Meeting (1-2 weeks from now)
			</li><br>

			<li> 
			Start-up (1-2 months)
			</li><br>
			<li> 
			Pre-Launch (4-6 months)
			</li><br>

			<li> 
			Launch ('93 til)
			</li><br>
		</ol>
</h4>
	<%= link_to "Previous Page", '#10', class: "btn btn-medium btn-success" %><br><br>
	<%= link_to "Next Page", '#12', class: "btn btn-medium btn-primary" %><br>
</div>


<div id = "12" class = "slide">
	<br><br>
	<h1>Time Line (cont.)</h1><br>
	<h3>1. Founding Meeting (1-2 weeks from now)</h3>
		<h4>
		<ul>
			<li> 
			Layout founding document
			</li><br>

			<li> 
			Finalize timeline
			</li><br>
			<li> 
			Establish next steps
			</li><br>

			<li> 
			Eat dinner!
			</li><br>
		</ul>
		</h4>
	<h3>2. Start-Up (1-2 months)</h3>
		<h4>
		<ul>
			<li> 
			Group goal: Get ready for prelaunch  
			</li><br>

			<li> 
			Webmaster: Developing website (2nd draft)
			</li><br>
			<li> 
			Graphic Designer: Creation of outreach materials
			</li><br>

			<li> 
			Fundraising: Creation of outreach target list (funders), prepare for outreach
			</li><br>

			<li> 
			Community Development: Creation of outreach target list (campaigns & artist), prepare for outreach
			</li><br>

			<li> 
			Admin: Look into all potential legal issues and file for incorporation
			</li><br>
		</ul>
		</h4>
		<h3>3. Pre-Launch (4-6 months)</h3>
		<h4>
		<ul>
			<li> 
			Group: prepare for launch, build buzz for launch
			</li><br>

			<li> 
			Webmaster: Finalize website
			</li><br>
			<li> 
			Graphic Designer: Finalize website
			</li><br>

			<li> 
			Fundraising: Outreach to target list, build buzz for launch
			</li><br>

			<li> 
			Community Development: Outreach to target list, support launch campaigns
			</li><br>

			<li> 
			Admin: Support fundraising and community development
			</li><br>
		</ul>
		</h4>
		<h3>4. Launch ('93 til)</h3>
		<h4>
		<ul>
			<li> 
			Group goal: Fufill position responsiblities
			</li><br>

			<li> 
			Continue to look for ways to grow responsibly
			</li><br>
			<li> 
			Eventually look to expand nationally 
			</li><br>

		</ul>
		</h4>
	<%= link_to "Previous Page", '#11', class: "btn btn-medium btn-success" %><br><br>
	<%= link_to "Next Page", '#13', class: "btn btn-medium btn-primary" %><br>
</div>

<div id = "13" class = "slide">
	<br><br>
	<h1> In Closing</h1><br>
	<h4> I will be conducting interviews and giving presentations until the right people are in place. I am very excited about this project and dedicated to seeing it come to life. I truly believe that this website could :</h4>
	<br>
		<h4>
		<ul>
			<li> 
			Help progressive causes in a significant way.
			</li><br>

			<li> 
			Give opportunity and exposure to local artist.
			</li><br>

			<li> 
			Allow its worker-owners to make a difference while making a good, honest living!
			</li><br>


		</ul>
		</h4>
	<%= link_to "Previous Page", '#12', class: "btn btn-medium btn-success" %><br><br>
	<%= link_to "Next Page", '#14', class: "btn btn-medium btn-primary" %><br>
</div>

<div id = "14" class = "slide">
	<br><br>
	<h1>Thank You for Your Time!</h1>
	<br>
	<%= link_to "Previous Page", '#13', class: "btn btn-medium btn-success" %><br><br>
	<%= link_to "Back To Beginning", '#1', class: "btn btn-medium btn-primary" %><br><br>
</div>