<h2>Sign in</h2>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.input :email, :autofocus => true %>
  <%= f.input :password %>
  <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  <%= f.button :submit, "Sign in", :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %><br>
<h4>Create Account or Sign in:</h4>

<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
  Facebook
</a>
<a href="/auth/google" class="auth_provider">
  <%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %>
  Google
</a>